.brand {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;

  &__memoji {
    border-radius: 50%;
    width: 150px;
    margin: 0 auto;
    align-self: center;
  }

  &__greeting {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    padding: 3rem 0 1rem;
    letter-spacing: -0.1rem;
  }

  &__subheader {
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0;
  }

  &__summary {
    background-color: $color-black;
    margin: 5rem auto 0;
    padding: 3rem;
    font-size: 3.75rem;
    text-align: center;
    width: 90%;
    border-radius: 1.5rem;

    & p {
      display: inline;
      font-size: 4rem;
      font-family: $monospace;
      line-height: 7rem;
      letter-spacing: 0.2rem;
      // font-weight: 700;
      background: linear-gradient(105deg, #5f2c82, #49a09d, #0b8793);
      // background: linear-gradient(10deg, #12c2e9, #c471ed, #f64f59);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -ms-background-clip: text;
      -o-background-clip: text;
      color: transparent;
    }
  }
}
