ul.nav,
ul.nav--mobile {
  list-style: none;
  margin: 0;

  display: flex;

  li.nav__link {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 400;

    &:not(:last-child) {
      margin-right: 10%;
    }

    a:link,
    a:active {
      color: $color-primary;
      text-decoration: none;
    }

    a:visited {
      color: $color-primary;
    }

    a:hover {
      color: $color-accent2;
    }
  }
}

nav {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul.nav {
      @media only screen and (max-width: $bk-phone) {
        visibility: hidden;
      }
      li.nav__link {
        padding: 2rem 0;
      }
    }

    ul.nav--mobile {
      list-style: none;
      display: flex;
      justify-content: space-around;
      margin: 0;
      li.nav__link {
        text-align: center;
        display: block;
        .bi {
          font-size: 3rem;
          display: block;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}
