.summary {
  margin: 5.5rem 0 10rem;
  &__header {
    font-size: 5.75rem;
    letter-spacing: -0.3rem;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(10deg, #12c2e9, #c471ed, #f64f59);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
