---
layout: base-layout.njk
---

{% include 'sections/1_about.njk' %} 
{% include 'sections/2_projects.njk' %}
{% include 'sections/3_skills.njk' %}
{% include 'sections/4_experiences.njk' %}
{% include 'sections/5_education.njk' %}
