<section
  id="about"
  class="mb-5 py-3"
  style="font-size: clamp(1.25rem, 3vw, 2rem)"
>
  <div class="container">
    <p class="text-center text-md-start">
      👋 Self-taught programmer open to opportunities for entry level positions
      in software engineering and development. Main interests in full-stack
      development, responsive design, finance and lifestyle apps. Currently
      working as finance and project manager for the arts industry.
    </p>
  </div>
</section>
