<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-4">
        <div class="border"></div>
        <h5>💻 Personal Projects</h5>
      </div>
      <div class="col-lg-9">
        <div class="row">
          {% for project in projects %}
          <div class="col-sm-12 col-md-6 py-4">
            <div class="card bg-white h-100 mx-4 mx-md-0">
              <div class="card-body">
                <img
                  class="
                    {%
                    if
                    project.roundedLogo
                    ==
                    true
                    %}
                    rounded-circle
                    {%
                    endif
                    %}
                    img-fluid
                    mb-3
                  "
                  style="width: 64px; height: auto"
                  src="{{ project.logo }}"
                />
                <p class="h4 d-inline-block ms-3">
                  <a href="{{ project.url }}">
                    {{ project.title }}
                  </a>
                </p>
                <p class="small">
                  {{ project.small }}
                </p>
                <p class="card-text">
                  {{ project.description }}
                </p>
              </div>
              <div class="card-footer">
                {% for tag in project.tags %}
                <span class="badge rounded-pill bg-primary">{{ tag }}</span>
                {% endfor %}
              </div>

              <div
                class="card-footer d-flex justify-content-end"
                style="font-size: 1.5rem"
              >
                {% if project.repo %}

                <a class="link-dark" href="{{ project.repo }}" target="_blank">
                  <i class="bi bi-github me-4"></i>
                </a>

                {% endif %} {% if project.url %}
                <a class="link-dark" href="{{ project.url }}" target="_blank">
                  <i class="bi bi-globe"></i>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
