<section id="experiences" class="my-5">
  <div class="container">
    <div class="row my-5">
      <div class="col-lg-3 mb-4">
        <div class="border"></div>
        <h5>🌱 Experiences</h5>
      </div>

      <div class="col-lg-9 py-5">
        <div class="row">
          <ul class="list-unstyled">
            {% for experience in experiences %}
            <li class="h3">{{ experience.job }}</li>
            <li
              class="mb-4 pb-4"
              style="font-size: clamp(1.1rem, 2vw, 1.75rem)"
            >
              {{ experience.description }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
