<section id="brand">
  <div class="container">
    <div class="row">
      <h1 class="text-center">👋 hi. I 
      <span class="typing-animation" data-period="2000" data-type='["am Han Xiang.","develop React apps.", "live in sunny Singapore"]'
      ></span>
      </h1>
    </div>

    <div class="brand-text">
      {% markdown %}
      {% include "sections/brand.md" %}
      {% endmarkdown %}
    </div>
  </section>