<section id="brand">
  <div class="container">
    <div class="row">
      <h3>👋 Developer/Programmer </h3>
      <hr/>
      <h5>hanxiang</h5>
      <p>han-see-ang</p>
    </div>

    <div class="text-center">
      {% markdown %}
      {% include "sections/brand.md" %}
      {% endmarkdown %}
    </div>
  </section>