<section id="connect" data-color="white">
  <div class="container">
    <div class="row">
      <h1 class="title">connect.</h1>
    </div>
    <ul>
      <div class="row my-3 my-md-1">
        {% for each in connect %}
          <div class="col-md-2">
            {{ each.network }}: 
      </div>
          <div class="col-md-10">
            <a href="{{each.url}}" target="_blank" rel="noreferrer">{{each.url}}</a>
          </div>
        {% endfor %}
        <div class="col-md-2">
         Email: 
      </div>
        <div class="col-md-10">
          hello@chewhx.com
        </div>
      </ul>
    </div>
  </div>
</section>