<section id="education" class="section">
  <h1 class="section__title">Education</h1>
  {% for each in education %}
  <div class="card">
    <div class="card__header">
      <div class="card__header__logo">
        <img src="{{ each.logo }} " alt="logo" />
      </div>
      <div>
        {% if each.link %}
        <a href="{{ each.link }} " class="card__title">
          {{ each.program }}
        </a>
        {% else %}
        <p class="card__title">{{ each.program }}</p>
        {% endif %}

        <p class="card__subtitle">{{ each.school }}</p>
        <p></p>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
