<section id="devjournal" data-color="blue">
  <div class="container">
    <div class="row">
      <h1 class="title">journal.</h1>
    </div>

    <ul>
      {% for each in collections.post | reverse %}
        {% if (loop.index <= 10) %}
          <li class="row my-3 my-md-1">
            <div class="col-md-2">
              {{ each.data.date | sgDate }}
            </div>
            <div class="col">
              <a href="{{ each.data.external_url or each.url | url }}" class="link-info">
                {{ each.data.title }}
              </a>
            </div>
            {# <div class="col-md-3 justify-content-end">
            {% for tag in each.data.categories %}
              {% if (loop.index <= 2) %}
                <span style="font-size: 0.85rem;" class="badge rounded-pill bg-primary">{{tag}}</span>
              {% endif %}
            {% endfor %}
            {% if each.data.categories.length > 2 %}
              <span style="font-size: 0.85rem" class="badge rounded-pill bg-primary">{{ each.data.categories.length - 2}}+</span>
            {% endif %}
          </div> #}
          </li>
        {% endif %}
      {% endfor %}
      {% if collections.post.length > 10 %}
        <li class="row my-3 my-md-1">
          <a href="/devjournal" class="my-3">More entries...</a>
        </li>
      {% endif %}
    </ul>
  </section>