<nav>
  <div class="container">
    <div class="navbar">
      <ul class="nav w-100 justify-content-center">
        <li class="nav__link">
          <a href="https://www.linkedin.com/in/chewhx/" target="_blank">
      RESUME
      </a>
        </li>
        {# {% for item in nav %}
          <li class="nav__link">
            <a href={{item.url}}>
              {{item.placeholder}}
            </a>
          </li>
        {% endfor %} #}
      </ul>
    </div>
  </div>
  {# <div class="floater">
    <div class="navbar">
      <ul class="nav--mobile w-100 justify-content-center">
        {% for item in nav %}
          <li class="nav__link">
            <a href="{{item.url}}">
              <i class="{{item.icon}}"></i>
              {{item.placeholder}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div> #}
</div>
</nav>