<nav>
  <div class="container">
    <div class="navbar">
      <ul class="nav me-auto justify-content-left">
        <li class="nav__link">
          <a href="#ail">Email</a>
        </li>
      </ul>
      <ul class="nav ms-auto justify-content-right">
        <li class="nav__link">
          <a href="#work">Works</a>
        </li>
        <li class="nav__link">
          <a href="/blog">Blog</a>
        </li>
        <li class="nav__link">
          <a href="#resum">Resume</a>
        </li>
        <li class="nav__link">
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
