<section id="projects" class="projects">
  <h1 class="section__title">Projects</h1>
  <div class="row">
    <div class="col-4">
      <div class="projectcard">
        <img
          class="projectcard__img"
          src="../../assets/icons/app.png"
          alt="project"
        />
        <div class="projectcard__wrapper">
          <h1 class="projectcard__title">One Listen</h1>
          <div class="projectcard__description">
            Node JS application which parses text from online articles and
            convert to audio.
          </div>
          <div class="projectcard__icons">
            <a href="https://github.com/chewhx/project-one-listen">
              <i class="bi bi-github projectcard__icon"></i>
            </a>
            <a href="https://github.com/chewhx/project-one-listen">
              <i class="bi bi-globe projectcard__icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
