<section id="projects" data-color="red">
  <div class="container">
    <div class="row">
      <h1 class="title">code.</h1>
      {% markdown %}
      <div class="text-center">
        {% include "sections/projects.md" %}
      </div>
      {% endmarkdown %}
    </div>
  </div>
</section>