<section id="skills" class="skills">
  <h1 class="section__title">Skills + Technologies</h1>
  <div class="row justify-content-start">
    <div class="skills__logo text-center">
      <i class="devicon-html5-plain colored"> </i>
      <span class="skills__logocaption">HTML</span>
    </div>
    <div class="skills__logo text-center">
      <i class="devicon-css3-plain colored"></i>
      <span class="skills__logocaption">CSS</span>
    </div>
    <div class="skills__logo text-center">
      <i class="devicon-sass-plain colored"></i>
      <span class="skills__logocaption">SCSS</span>
    </div>
    <div class="skills__logo text-center">
      <i class="devicon-javascript-plain colored"></i>
      <span class="skills__logocaption">JavaScript</span>
    </div>
    <div class="skills__logo text-center">
      <i class="devicon-mongodb-plain colored"></i>
      <span class="skills__logocaption">MongoDB</span>
    </div>
    <div class="skills__logo text-center">
      <i class="devicon-nodejs-plain colored"></i>
      <span class="skills__logocaption">NodeJS</span>
    </div>
    <div class="skills__logo text-center">
      <i class="devicon-express-original colored"></i>
      <span class="skills__logocaption">ExpressJS</span>
    </div>
    <div class="skills__logo text-center">
      <i class="devicon-react-original colored"></i>
      <span class="skills__logocaption">ReactJS</span>
    </div>
    <div class="skills__logo text-center">
      <i class="devicon-googlecloud-plain colored"></i>
      <span class="skills__logocaption">GoogleCloud</span>
    </div>
  </div>
</section>
