<section id="tools" data-color="white">
  <div class="container">
    <div class="row">
      <h1 class="title">tools.</h1>
      {% markdown %}
      {% include "sections/tools.md" %}
      {% endmarkdown %}
    </div>
  </div>
</section>