#header {
  background-color: #ffd700;
  padding: 3% 0%;
  margin-bottom: -5px;
}

.badge:hover {
  cursor: pointer;
}

.table td {
  vertical-align: middle;
  border-top: none;
  border-bottom: 1px solid #dee2e6;
}

.table th {
  background-color: #ffd700;
  margin-bottom: 1%;
  vertical-align: middle;
  border-top: none;
}

.logo {
  background-image: url(sketch-symbol.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-size: 70%;
  position: fixed;
  bottom: 250px;
}

.logo-fluid {
  position: fixed;
  bottom: 250px;
}

kbd {
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  padding: .4rem .6rem;
  font-size: 100%;
}

@media (max-width: 576px) {

}
