<footer class="py-5">
  <div class="container text-center">
    <p class="small m-0">
      Built with <a href="https://www.11ty.dev">11ty</a> +
      <a href="https://getbootstrap.com"> Bootstrap </a>
    </p>
    <p class="small m-0">
      Hosted on <a href="https://pages.github.com">GitHub Page</a>
    </p>
  </div>
</footer>
