<footer>
  <div class="container text-center">
    <small>
      Built with <a href="https://www.11ty.dev">11ty</a>
    </small>
    <br/>
    <small>
      Hosted on <a href="https://pages.github.com">GitHub Page</a>
    </small>
  </div>
</footer>