<footer>
  <div class="container text-center">
    <p>
      Built with <a href="https://www.11ty.dev">11ty</a>
    </p>
    <p>
      Hosted on <a href="https://pages.github.com">GitHub Page</a>
    </p>
  </div>
</footer>