<nav
  class="
    navbar navbar-expand-lg navbar-light
    bg-white
    pb-2
    mb-md-5
    sticky-md-top
  "
  style="opacity: 0.95"
>
  <div class="container">
    <div id="site-brand" class="navbar-nav d-md-flex">
      <a class="navbar-brand text-sm-center" href="{{ '/' | url }}">
        <img
          id="nav-brand-logo"
          src="/assets/avatar.png"
          style="width: 100px"
          class="rounded"
          alt="animoji-logo-chew"
        />
      </a>
      <div
        id="nav-brand-chewhx"
        class="my-auto d-flex flex-column align-content-center"
      >
        <a class="navbar-brand" href="{{ '/' | url }}">
          <h1 class="align-self-center m-0">Chew Han Xiang</h1>
        </a>
        <small>Arts Project Manager + Aspiring JS Developer</small>
      </div>
    </div>
    {% include "sections/0_links.njk" %}
  </div>
</nav>
