<nav
  id="navbar"
  class="navbar navbar-expand-lg navbar-light bg-light py-4 mb-4 sticky-top"
>
  <div class="container">
    <a href="/">
      <img
        src="/assets/images/avatar.png"
        style="width: 100px"
        class="rounded float-left"
        alt="animoji-logo-chew"
      />
    </a>
    <a class="navbar-brand mr-auto" href="/">
      <span class="h1 font-weight-bold">Chew Han Xiang </span>
    </a>
    <br />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-3">
          <a class="nav-link" href="/blog">
            {% if page.title == "Blog" %}
            <u>Blog</u>
            {% else %} Blog {% endif %}
          </a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="mailto:chewhx@icloud.com"
            ><i class="bi bi-mailbox2 h4"></i
          ></a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" target="_blank" href="https://github.com/chewhx"
            ><i class="bi bi-github h4"></i
          ></a>
        </li>
        <li class="nav-item ml-3">
          <a
            class="nav-link"
            target="_blank"
            href="https://www.linkedin.com/in/chewhx/"
            ><i class="bi bi-linkedin h4"></i
          ></a>
        </li>
        <li class="nav-item ml-3">
          <a
            class="nav-link"
            target="_blank"
            href="https://www.facebook.com/chew.h.xiang"
            ><i class="bi bi-facebook h4"></i
          ></a>
        </li>
        <li class="nav-item ml-3">
          <a
            class="nav-link"
            target="_blank"
            href="https://www.instagram.com/chewhx/"
            ><i class="bi bi-instagram h4"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
