---
layout: base-layout.njk
---

<article class="mt-5 mx-auto"  style="max-width: 900px;">
  <div id="post_header">
    <h1 class="fw-bolder text-center px-4 display-3 py-3">
      {{title}}</h1>
  </div>
  <div id="post_details" class="d-flex justify-content-center">
    <p class="text-center mx-4 text-muted"><i class="bi bi-person-fill"></i> chewhx</p>
    <p class="text-center mx-4 text-muted"><i class="bi bi-calendar-week"></i></i>   
      <time datetime="{{ date | dateIso }}">{{
      date | dateReadable
    }}</time></p>
  </div>
    <img class="img-fluid py-4" src="{{ cover }}" alt="{{ cover }}" />
  <div id="post_text" class="serif py-4">
    <div class="container px-5">
      {{ content | safe }}
    </div>
  </div>
</article>
