{% include "sections/brand.njk" %}
{% include "sections/summary.njk" %}
{% include "sections/projects.njk" %}
{% include "sections/skills.njk" %}
{% include "sections/experience.njk" %}
{% include "sections/education.njk" %}