.namecard {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 150px auto;
  grid-auto-rows: auto;
  grid-template-areas:
    "left right1"
    "left right2";
}

img.namecard_avatar {
  object-fit: cover;
  width: 100%;
}

.namecard_name {
  grid-area: right1;
  font-size: 32px;
  color: #161616;
  letter-spacing: 0;
  text-align: left;
  line-height: 40px;
  font-weight: 700;
  align-self: flex-end;
}

.namecard_avatar {
  grid-area: left;
}

.namecard_tagline {
  grid-area: right2;
  font-size: 20px;
  color: #161616;
  letter-spacing: 0;
  text-align: left;
  line-height: 28px;
  align-self: flex-start;
}

#social-links {
  width: fit-content;
}

#social-links img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}

#social-links img:hover {
  opacity: 0.6;
}

main {
  min-height: 50vh;
}

#collapseTwo > div > div > i {
  font-size: 3rem;
}

footer {
  margin-top: 50px;
  padding-bottom: 10px;
}

/* Adjustements to Bootstrap */

.breadcrumb {
  background-color: var(--white);
  z-index: 1;
}

.card {
  border: none;
}

article img {
  width: 100%;
}

article {
  font-family: "IBM Plex Serif", Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  font-weight: 400;
}

article a {
  color: var(--blue);
  text-decoration: underline;
}

article .badge {
  font-family: "IBM Plex Sans";
}
