@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./scss/variables";
@import "./scss/utilities";
@import "./scss/mixins";
@import "./scss/base";
@import "./scss/typography";

.navbar-toggler {
  border: 0;
  font-size: 2.5rem;
}

.monospace {
  font-family: "Space Mono", "Courier New", Courier, monospace;
}

.post {
  font-size: "1rem";
}
