<!DOCTYPE html>
<html lang="en">
  {% include header.html%}

  <body class="bg-light">
    {% include navbar.html%}

    <!-- CONTAINER START -->
    <main class="container">
      <!-- TITLE SECTION -->
      <section id="title" class="mb-4">
        {% for post in site.posts %}
        <h3>{{ post.date | date_to_string }}</h3>
        <p class="display-4"><a href="{{ post.url }}"> {{ post.title }} </a></p>
        <hr class="mb-5" />
        {% endfor %}
      </section>

      <!-- CONTAINER END -->
    </main>

    {% include footer.html %}
  </body>
</html>
