<!DOCTYPE html>
<html lang="en">
  {% include header.html%}
  <body class="bg-light">
    {% include navbar.html%}

    <!-- CONTAINER START -->
    <main class="container">
      <!-- SUMMARY SECTION -->
      <section id="summary" class="mb-5">{{ content }}</section>

      <!-- PROJECTS SECTION -->
      <section id="projects" class="my-5">
        <div class="row">
          <div class="col-lg-4 h5 mb-4 section-subtitle">
            <div class="border"></div>
            💻 Personal Projects
          </div>

          <div class="col-lg-8">
            <!-- Project start -->
            <div class="media mb-4">
              <div class="d-flex mr-3" style="width: 75px">
                <img
                  class="img-fluid rounded-circle"
                  src="/assets/icons/personal-projects/app.png"
                  alt="Google Text-to-Speech Project Logo"
                />
              </div>
              <div class="media-body">
                <h3 class="mt-0">
                  <a
                    target="_blank"
                    href="https://github.com/chewhx/google-text-speech"
                  >
                    <u> Google/Mercury URL Text to Audio → </u>
                  </a>
                </h3>
                <p>
                  Node JS application which parses text from online articles and
                  convert to audio.
                </p>
              </div>
            </div>
            <!-- Project end-->

            <!-- Project start -->
            <div class="media mb-4">
              <div class="d-flex mr-3" style="width: 75px">
                <img
                  class="img-fluid rounded-circle"
                  src="/assets/icons/personal-projects/og.png"
                  alt="Gemini Node API Project Logo"
                />
              </div>
              <div class="media-body">
                <h3 class="mt-0">
                  <a
                    target="_blank"
                    href="https://github.com/chewhx/gemini-api-node"
                  >
                    <u> Node-Gemini-API → </u>
                  </a>
                </h3>
                <p>
                  Get past trading and transfer data from Gemini Crypto Exchange
                  API. Summarise your coin assets owned and average cost.
                </p>
              </div>
            </div>
            <!-- Project end-->

            <!-- Project start-->
            <div class="media mb-4">
              <div class="d-flex mr-3" style="width: 75px">
                <img
                  class="img-fluid"
                  src="/assets/icons/personal-projects/sg.png"
                  alt="Guess The Flag Project Logo"
                />
              </div>
              <div class="media-body">
                <h3 class="mt-0">
                  <a
                    target="_blank"
                    href="https://guess-the-country-flags.herokuapp.com/"
                  >
                    <u> Guess The Flag → </u>
                  </a>
                </h3>
                <p>
                  Pop quiz. Guess which countries the flags belong to. What's
                  your highest score?
                </p>
              </div>
            </div>
            <!-- Project end-->

            <!-- Project start -->
            <div class="media mb-4">
              <div class="d-flex mr-3" style="width: 75px">
                <img
                  class="img-fluid"
                  src="/assets/icons/personal-projects/blob.svg"
                  alt="Blobshop Project Logo"
                />
              </div>
              <div class="media-body">
                <h3 class="mt-0">
                  <a target="_blank" href="https://blobshop.netlify.app/">
                    <u> Blobshop → </u>
                  </a>
                </h3>
                <p>
                  Mock ecommerce store, retailing digital blobs. Try creating
                  your own blobs and add to cart.
                </p>
              </div>
            </div>
            <!-- Project end-->
          </div>
        </div>
      </section>

      <!-- SKILLS SECTION -->
      <section id="skills" class="my-5">
        <div class="row my-5">
          <div class="col-lg-4 h5 mb-4 section-subtitle">
            <div class="border"></div>
            🛠️ Skills & Expertises
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col">
                <ul class="h3 list-unstyled">
                  {% for each in site.data.techskill.content1 %}
                  <li>{{ each }}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col">
                <ul class="h3 list-unstyled">
                  {% for each in site.data.techskill.content2 %}
                  <li>{{ each }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- EXPERIENCES SECTION -->
      <section id="experiences">
        <div class="row my-5">
          <div class="col-lg-4 h5 mb-4 section-subtitle">
            <div class="border"></div>
            🌱 Experiences
          </div>
          <div class="col-lg-8">
            <ul class="list-unstyled">
              {% for each in site.data.experience.content %}
              <li class="h3">{{ each.job }}</li>
              <li class="h5 mb-4 pb-4">{{ each.description }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>

      <!-- EXPERIENCES SECTION -->
      <section id="education">
        <div class="row my-5">
          <div class="col-lg-4 h5 mb-4 section-subtitle">
            <div class="border"></div>
            🎓 Education
          </div>
          <div class="col-lg-8">
            <ul class="list-unstyled">
              {% for each in site.data.education.content %}
              <li class="h4">{{ each.program }}</li>
              <li class="h5 font-italic mb-4 pb-5">{{ each.school }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>

      <!-- CONTAINER END -->
    </main>

    {% include footer.html %}
  </body>
</html>
