<!DOCTYPE html>
  {% include header.html%}
  <body class="bg-light">
    {% include navbar.html%}

    <!-- CONTAINER START -->
    <main class="container">
      <div class="mb-4">
        <h3>{{ page.date | date_to_string }}</h3>
        <p class="display-4">
          <a href="{{ post.url }}">{{ page.title }}</a>
        </p>
      </div>
      <article>
        {{ content }}
      </article>
      <!-- TAGS SECTION, FOR FURTHER DEPLOY -->
      <!-- <div class="h4 my-5">
        Tags:
        {% for tag in page.tags %}
        <span>{{ tag }},</span>
          {% endfor %}
        </div> -->
      <!-- CONTAINER END -->
    </main>

    {% include bottomnav.html %}
    {% include footer.html %}
  </body>
</html>
