<!DOCTYPE html>
  {% include header.html%}
  <body class="bg-light">
    {% include navbar.html%}

    <!-- CONTAINER START -->
    <main class="container">
      <article>
        <!-- TITLE SECTION -->
        <div class="mb-4">
          <h3>{{ page.date | date_to_string }}</h3>
          <p class="display-4">
            <a href="{{ post.url }}">{{ page.title }}</a>
          </p>
          {% for tag in page.tags %}
          <span class="badge badge-pill badge-info"
            ><small>{{tag}}</small></span
          >
          {% endfor %}
        </div>
        {{ content }}
      </article>

      <!-- CONTAINER END -->
    </main>

    {% include footer.html %}
  </body>
</html>
