<nav class="bg-white px-10 lg:px-24 py-12 max-w-screen-2xl mx-auto">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <p class="text-5xl font-extrabold">
      hanxiang
    </p>
    <ul class="list-none font-bold text-xl tracking-tight lowercase">
      <li class="inline-block mx-6">ABOUT</li>
      <li class="inline-block mx-6">WORK</li>
      <li class="inline-block mx-6">CONNECT</li>
    </ul>
  </div>
</nav>